.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(194, 243, 227);
  padding: 10px 25px;
  width: 100%;

  .left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header {
    flex: 0 1 auto;
    font-size: 32px;
    text-align: center;
  }

  .user {
    display: flex;
    gap: 10px;
    align-items: center;

    .name {
      font-size: 20px;
    }

    .photo img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }

  .logout {
    font-size: 18px;
    color: #3b82f6;
    background-color: transparent;
    border: 2px solid #3b82f6;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #3b82f6;
      color: #fff;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.overlay {
  background-color: rgb(224, 221, 221);
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: fit-content;
  position: relative;
  left: 10px;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .container {
    gap: 20px;
  }
}
