<div class="container">
  <div class="left">
    @if (currentUser$ | async; as currentUser) {
    <div class="user">
      <div class="photo">
        <img [src]="currentUser.photoURL" (click)="toggleOverlay()" />
      </div>
      <div class="name" *ngIf="!isTabletOrSmaller">
        {{ currentUser.displayName }}
      </div>
    </div>
    }
  </div>

  <div class="header">Weimar Omedia</div>

  <div class="right">
    @if (currentUser$ | async) {
    <div class="logout" (click)="logout()" *ngIf="!isTabletOrSmaller">
      Log Out
    </div>
    }
  </div>
</div>

<p-overlay [(visible)]="overlayVisible">
  <ng-template #content *ngIf="currentUser$ | async as currentUser">
    <div class="overlay">
      <div class="name">{{ currentUser.displayName }}</div>
      <div class="logout" (click)="logout()">Log Out</div>
    </div>
  </ng-template>
</p-overlay>
