<div class="check-last-orders">
  <div class="actions">
    <div class="back-link" (click)="backToOrderPage()">Back to Order Page</div>
    <button class="leave-group-btn" (click)="leaveGroup()">Leave Group</button>
  </div>
</div>
<div class="container">
  <div class="orders grid">
    @if (orders?.length === 0) {
    <div class="no-orders-message">
      <h3>No Orders Available</h3>
    </div>
    } @for (order of orders; track $index) {
    <app-order-card
      [order]="order"
      [deliveryPrice]="4"
      [totalOrders]="allOrdersLength"
      class="col-12 md:col-6 xl:col-4"
    ></app-order-card>
    }
  </div>
  @if (orders?.length) {
  <div class="total-price-box">
    <div class="total-content">
      <h4>Total Price for Entire Order</h4>
      <p>{{ orderPrice }} GEL</p>
    </div>
  </div>
  }
</div>
