<div class="check-last-orders">
  <div class="actions">
    @if (selectedDate?.toDateString() === today.toDateString()) {
    <div class="back-link" (click)="backToOrderPage()">Back to Order Page</div>
    <div class="contact-info">
      <h4 class="mr-2">Weimar contact info:</h4>
      <p>511 16 16 35</p>
      <i class="pi pi-clone" (click)="copyToClipboard('511 16 16 35')"></i>
    </div>
    <button class="leave-group-btn" (click)="leaveGroup()">Leave Group</button>
    } @else {
    <div class="back-link" (click)="backToHomePage()">Back to Home Page</div>
    }
  </div>
</div>

<div class="container">
  <div class="orders grid">
    @if (orders?.length === 0) {
    <div class="no-orders-message">
      <h3>No Orders Available</h3>
    </div>
    } @for (order of orders; track $index) {
    <app-order-card
      [order]="order"
      [deliveryPrice]="4"
      [totalOrders]="allOrdersLength"
      class="col-12 md:col-6 xl:col-4"
    ></app-order-card>
    }
  </div>
  @if (orders?.length) {
  <div class="total-price-box">
    <div class="total-content">
      <h4>Total Price for Entire Order</h4>
      <p>{{ orderPrice }} GEL</p>
      <h4 class="size mt-3">Send your share to {{ orderCreator?.name }}</h4>
      @if(orderCreator?.bogAccountNumber) {
      <span class="mt-3 flex flex-row">
        <h4 class="mr-2">Bank of Georgia account number:</h4>
        <p>{{ orderCreator?.bogAccountNumber }}</p>
        <i
          class="pi pi-clone"
          (click)="copyToClipboard(orderCreator?.bogAccountNumber)"
        ></i>
      </span>
      } @if(orderCreator?.tbcAccountNumber) {
      <span class="mt-3 flex flex-row">
        <h4 class="mr-2">TBC bank account number:</h4>
        <p>{{ orderCreator?.tbcAccountNumber }}</p>
        <i
          class="pi pi-clone"
          (click)="copyToClipboard(orderCreator?.tbcAccountNumber)"
        ></i>
      </span>
      } @if(orderCreator?.personalNumber) {
      <span class="mt-3 flex flex-row">
        <h4 class="mr-2">Personal number:</h4>
        <p>{{ orderCreator?.personalNumber }}</p>
        <i
          class="pi pi-clone ml-2"
          (click)="copyToClipboard(orderCreator?.personalNumber)"
        ></i>
      </span>
      }
    </div>
  </div>
  }
</div>
