<div class="order-groups-container">
  <app-previous-order-sidebar
    [(sidebarVisible)]="sidebarDisplayed"
  ></app-previous-order-sidebar>
  <p-button
    type="text"
    (click)="displaySidebar()"
    label="See previous orders"
  ></p-button>

  <h1 class="mt-3">Order Groups</h1>
  <div class="order-groups">
    @for(creator of orderCreators; track $index) {
    <div class="order-group" (click)="clickOrderGroup(creator)">
      <div class="creator-info">
        <div class="photo">
          <img [src]="creator.photoUrl" alt="Creator Photo" />
        </div>
        <p class="name">{{ creator.name }} and friends</p>
      </div>
    </div>
    }
  </div>
  <div class="actions">
    <button class="create-new" (click)="createNewGroup()">Create New</button>
  </div>
</div>
<p-dialog
  header="Help others give you your money"
  [modal]="true"
  [(visible)]="showAccountNumberPop"
>
  <app-account-number-pop-up></app-account-number-pop-up>
</p-dialog>
